#spotify-player-container {
    display: none;
        position: absolute;
        width:0;
        height:0;
        border:0;

}

#voto-container{
    display: grid;

    gap: 2em;
    grid-template-columns: 3;
}